*{
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#contenedorJuego{
  position: relative;
  margin-right:  auto; 
  margin-left: auto;
  width: 950px;
  height: 500px;
  
}

#canvas-container{
  position: relative;
  margin: 0vh auto; 
  width: 0px;
  height: 900px;
}
#game-status{
  position: relative;
  margin: 0vh auto; 
  width: 0px;
  height: 900px;
}


body{
background-color:red;

}

html {
    background: url(https://i.ytimg.com/vi/1sK0ujiu2ec/maxresdefault.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}